.contenedor-preguntas {
    background-size: cover;
    background-position: center;
    padding: 50px;
    color: white;
    text-align: center;
    font-size: 24px; 
  }
  
  .titulo {
    font-family: "Lucida Bright";
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: -250px;
    margin-right: -120%;
  }
  
  .preguntas {
    max-width: 1200px;
    margin: auto;
    font-family: "Lucida Bright";
    margin-top: 200px;
margin-left: -50px;
  }
  
  .jaguar{
    margin-left: -50px;
    width: 233%;
    height: 430px;
    border-radius: 16px;


  }
  .pregunta {
    margin-bottom: 10px;
    
    
  }
  
  .boton-pregunta {
    width: 126%;
    border-radius: 8px;
    padding: 15px;
    background: rgba(15, 6, 6, 0.7);
    border: 1px solid rgba(42, 18, 18, 0.829);
    color: white;
    text-align: left;
    font-size: 1.4rem;

    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .boton-pregunta:hover {
    background: rgba(27, 10, 10, 0.667);
  }
  
  .respuesta {
    background: rgba(45, 17, 17, 0.815);
    padding: 0 15px;
    margin-top: 5px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    font-family: "Linden Hill";
    width: 126%;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, padding 0.5s;
  }
  .respuesta.mostrar {
    max-height: 200px; 
    opacity: 1;
    padding: 15px;
  }
  
  .icono {
    font-size: 1.5rem;
  }
  